@import url(http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic-ext);
.garamond {
  font-family: 'EB Garamond', serif !important;
}

$green: '#4fa547';

* {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: Georgia sans-serif;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -165px;
  width: 1000px;

}
footer, #push {
  height: 165px;
}

footer {
  font-family: Arial;
  text-align: center;
  background: #efefef;
  width: 1000px;
  margin: 0 auto;
  padding: 25px 0 30px;
  line-height: 1.5em;
  font-size: 13px;
}


header {
  position: relative;
  height: 250px;
  #logo {
    position: absolute;
    left: 40px;
    top: 48px;
    background: url("logo.png");
    width: 136px;
    height: 112px;
  }
  p.slogan {
    position: absolute;
    top: 74px;
    left: 330px;
    width: 360px;
    color: #999;
    font-size: 17px;
    line-height: 1.5em;
  }
  p.phone{
    position: absolute;
    top: 65px;
    right: 60px;
    color: #000;
    font-size: 33px;
    font-weight: bold;
    span {
      position: relative;
      top: -10px;
      font-size: 16px;
    }
  }
  menu {
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 960px;
    background: #000;
    li {
      display: inline-block;
      vertical-align: top;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      z-index: 1;
      &:hover {
        background: #4fa547;
        a:after {display: none}
      }
      a {
        position: relative;
        text-decoration: none;
        color: inherit;
        display: block;
        padding: 10px 20px;
        &:after {
          z-index: 0;
          content: '|';
          position: absolute;
          top: 10px;
          right: -4px;
        }
      }
    }
  }
}

#clients {
  position: relative;
  .bg {
    background: url("clients.png") no-repeat center 88px;
    height: 673px+88px;
  }
  color: #666;
  font-size: 17px;
  line-height: 1.5em;
  .text1 {
    position: absolute;
    text-align: right;
    top: 430px;
    left: 60px;
    width: 180px;
  }
  .text2 {
    position: absolute;
    text-align: left;
    top: 430px;
    right: 60px;
    width: 180px;
  }
}

#contacts {
  position: relative;
  #mapHover {
    position: absolute;
    left: 35px;
    top: 135px;
    background: #fff;
    width: 350px;
    padding: 35px 55px;
    h1 {
      color: #4fa547;
      font-size: 25px;
      margin-bottom: 35px;
    }
    h2 {
      font-size: 14px;
      margin-bottom: 4px;
      margin-top: 12px;
    }
    a {
      color: #000;
    }
    p {
      font-size: 17px;
      margin-bottom: 10px;
    }
    strong {
      display: block;
      font-size: 28px;
      padding-bottom: 20px;
    }
  }
}

.hover {
  display: none;
}

#portfolios {
  text-align: center;
  menu {
    margin: 25px 0;
    list-style: none;
    display: inline-block;

    padding: 0;
    border: 1px solid #dcdada;
    li {
      display: inline-block;
      border-left: 1px solid #dcdada;
      &:first-child {border: none;}
      a {
        display: block;
        padding: 12px 24px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'EB Garamond', serif !important;
        font-weight: bold;
        color: #000;
        &:hover {
          color: #fff;
          background: #4fa547;
          &:before {
            content: '';
            position: absolute;
            background: url("arrow-down.png");
            width: 7px;
            height: 4px;
            bottom: -4px;
            left: 50%;
            margin-left: -3px;
          }
        }
      }
    }
  }
  ul#portfolioItems {
    padding: 0;
    margin: 0 auto;
    width: 948px;
    list-style: none;
    li {
      position: relative;
      display: inline-block;
      margin: 5px;
      img {display: block;}
      &.cap {
        height: 227px;
        width: 227px;
        background: #efefef;
      }
      &:hover .hover {
        display: table;
      }
      .hover {
        position: absolute;
        text-align: center;

        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(79, 165, 71, 0.9);
        h2 {
          display: table-cell;
          width: 100%;
          height: 227px;
          vertical-align: middle;
          font-size: 21px;
          color: #fff;
        }
      }
    }
  }
}

time {
  display: inline-block;
  vertical-align: top;
  font-family: Arial;
  .date {
    font-size: 50px;
  }
  .month {
    font-size: 14px;
  }
  .year {
    font-size: 12px;
  }
}


#news {
  .new {
    margin-top: 40px;
    margin-left: 60px;
    time{
      text-align: right;
    }
    img {
      display: inline-block;
      vertical-align: top;
      margin: 0 30px;
    }
    .content {
      display: inline-block;
      vertical-align: top;
      width: 440px;
      font-size: 15px;
      line-height: 1.5em;
      h2 {
        color: #4fa547;
        margin-bottom: 20px;
        font-size: 25px;
      }
    }
  }
}

#portfolio {
  padding-top: 30px;
  .left {
    float: left;
    width: 200px;
  }
  img.teaser {
    display: block;
  }
  time {
    color: #b0b0b0;
    display: block;
    width: 200px;
    text-align: center;

  }
  .container {
    float: right;
    margin-right: 30px;
    width: 700px;
    h1 {
      margin-top: 0;
      color: #4fa547;
      font-size: 25px;
      font-weight: normal;
      margin-bottom: 15px;
    }
    h2 {
      margin: 15px 0 10px;
      font-size: 15px;

    }
    p {
      margin-bottom: 15px;
      font-size: 15px;
    }
    ul.fancybox {
      list-style: none;
      margin: 20px -5px;
      padding: 0;
      li {
        position: relative;
        display: inline-block;
        margin: 5px;
        img {display: block;}
      }
    }
  }
}




